 body {
      font-family: Arial, sans-serif;
    }


    #search-container {
        

        margin-top:20px;
      margin-bottom: 18px;
    }

    #selected-positions {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    #selected-positions .selected-position {
        border:2px solid black;
        padding:0.5em 1.1em;
        border-radius: 1.5em;
        background-color:rgb(177, 195, 218);
        color: black;
        cursor:pointer;
        

    }
    

    #selected-positions .selected-position::after {
      content: '\00D7';
      margin-left: 5px;
    }

    #suggestion-box  {
       
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
    #suggestion-box span{
        border:2px solid black;
        padding:0.2em 0.8em;
        border-radius: 1.5em;
        background-color: transparent;
        color: black;
        cursor:pointer;

    }

    
    .position {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0; 
}

.position:first-child {
  border-radius: 5px 0 0 5px;  
}

    .position.selected {
      color: blue;
    }

    .position.selected::after {
      content: '\00D7';
      margin-left: 5px;
    }

    .card {
        border: 1px solid white;
        padding: 10px;
      margin: 10px;
      width: calc(25% - 20px); /* Four cards in a row for laptops */
      display: inline-flex; /* Use flexbox */
      flex-direction: column; /* Align items vertically */
      align-items: center; /* Center items horizontally */
      box-sizing: border-box;
    }

    .card img {
      width: 100%; /* Make the image fit the width of the card */
      height: auto;  /* Let the height adjust based on aspect ratio */
      object-fit: cover;
      margin-bottom: 15px; 
      transition: all 1s;
    }
    .card img:hover{
      transform: scale(1.025);
    }
    #cards {
      margin-top: 20px; /* Add space between suggestion box and cards */
    }
    
    .card h3,
.card p {
  /* Reduce padding and/or margin */
  padding: 2px 5px;  /* Adjust values for desired spacing */
  margin: 0;  /* Remove any default margin */
}
#search-container input{
background-color: transparent;
width:40%;
border-bottom: 3px solid black;

}
#search-container input:focus{
    border-bottom-color: whitesmoke;
}
.btn-outline-secondary{
    padding:0.2em 0.2em;
    margin-left: 0.2em;
    color: black;
    background-color:rgb(230, 223, 223);
}
p{ 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

@media (max-width: 1200px) {
    .card {
        width: calc(33.33% - 20px); /* Three cards in a row for medium-sized devices */
    }
}

@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px); /* Two cards in a row for tablets */
    }
}

@media (max-width: 576px) {
    .card {
        width: calc(100% - 20px); /* Single card in a row for small-sized devices */
    }
}
